body {
  background-color: olive;
}
h1 {
  text-align: center;
  padding-top: 10rem;
}
.main-container {
  width: 100%;
  height: 100vh;
  transition-duration: 200ms;
}
.button-div-container {
  /* background-color: pink; */
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  bottom: 3rem;
  right: 0;
  left: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.button-div {
  background-color: White;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1.5rem;
}

.button-div button {
  border: none;
  color: White;
  /* background-color: red; */
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 1.5rem;
}

.red-button {
  background-color: red;
}
.green-button {
  background-color: green;
}
.blue-button {
  background-color: blue;
}
